@import "~bootstrap/scss/bootstrap";

// HEADER
.header-top {
    height: 20px;
    background-color: #0282f9;
}

.header-bottom {
    background-color: #fefefe;
    height: 100px;

    .container {
        height: 100%;

        img {
            height: 70px;
        }

        ul {
            list-style: none;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-grow: 1;
            margin-right: 0;

            li {
                margin: 0 0.5rem;
                font-weight: 600;
                font-size: 0.8rem;

                a {
                    display: inline-block;
                    height: 117px;
                    line-height: 117px;
                    color: #444;
                    text-decoration: none;
                }

                .active {
                    color: #0282f9;
                    border-bottom: 4px solid #0282f9;
                }
            }
        }
    }
}

// MAIN
main {
    .jumbotron {
        height: 40vh;
        background-image: url("../../img/jumbotron.jpg");
        background-size: cover;
        background-position: top;
        background-repeat: no-repeat;
    }

    .my-bg-dark {
        background-color: #222;
    }

    .container {
        position: relative;

        // Etichetta blu tra jumbotron e sezione cards
        .jumbotron-label {
            background-color: #0282f9;
            padding: 0.5rem 1rem;
            font-size: 1.2rem;
            font-weight: bold;
            color: #fff;
            cursor: pointer;
            position: absolute;
            top: -1rem;
        }

        .content {
            padding: 3rem 0;

            .my-card {
                padding: 1rem;

                img {
                    height: 255px;
                    object-position: top;
                    cursor: pointer;
                }

                .card-text {
                    margin-top: 1rem;
                    min-height: 2.5rem;
                    color: #fff;
                    font-size: 0.7rem;
                }
            }
        }

        .primary-btn {
            background-color: #0282f9;
            padding: 0.5rem;
            font-weight: bold;
            color: #fff;
            cursor: pointer;
        }
    }

    .card-detail-container {
        // debug
        padding-top: 10rem;
        min-height: 80vh;
        background: linear-gradient(
            to bottom,
            #0282f9 0%,
            #0282f9 15%,
            #fff 15%,
            #fff 100%
        );

        .shop-bar {
            background-color: green;
            height: 2.5rem;
            line-height: 2.5rem;

            .price {
                flex-grow: 1;
            }
        }
    }

    .main-nav {
        height: 100px;
        background-color: #0282f9;
        position: relative;
        z-index: 1;

        .container {
            height: 100%;

            .row {
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0 2rem;

                .col {
                    height: 100%;
                    width: calc(100% / 5);

                    .my-card {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        height: 100%;
                        font-size: 0.8rem;

                        img {
                            width: 2rem;
                        }

                        span {
                            display: block;
                            color: #fff;
                            margin-left: 1rem;
                        }
                    }
                }
            }
        }
    }
}

// FOOTER

.footer-main {
    background-image: url("../../img/footer-bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 450px;

    .container {
        height: 100%;
        position: relative;

        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: flex-start;
        column-gap: 1rem;
        padding: 1rem 0;

        .my-footer-col {
            width: 10%;
            display: flex;
            flex-direction: column;

            .footer-list-title {
                color: #fff;
                font-weight: bold;
                margin: 0.5rem 0;
            }

            ul {
                margin-bottom: 2rem;
                list-style: none;
                padding-left: 0;

                li {
                    font-size: 0.7rem;
                    margin: 0.5rem 0;

                    a {
                        color: #999;
                        text-decoration: none;

                        &:hover {
                            color: #fff;
                        }
                    }
                }
            }
        }

        // Logo di sfondo
        img {
            width: 40%;

            position: absolute;
            right: 0;
            top: -50px;
        }
    }
}

/***************
PARTE INFERIORE
***************/
.footer-bottom {
    height: 100px;
    background-color: #333;

    position: relative;
    z-index: 1;

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;

        .outlined-btn {
            border: 2px solid #0160ba;
            background-color: #333;
            padding: 0.5rem;
            font-weight: bold;
            color: #fff;
            cursor: pointer;

            &:hover {
                background-color: #0160ba;
            }
        }

        ul {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            flex-grow: 1;
            margin-right: 0;
            list-style: none;

            li {
                margin: 0 0.5rem;

                span {
                    color: #0282f9;
                    font-weight: bold;
                }

                img {
                    width: 2rem;
                }
            }
        }
    }
}
